<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="テキーラ飲み比べ紹介サイト">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:url" content="">
<meta property="og:title" content="テキーラ全書">
<meta property="og:description" content="テキーラ飲み比べ紹介サイト">
<meta property="og:image" content="apple-touch-icon.png">
<title>商品紹介 2ページ</title>
<link rel="stylesheet" type="text/css" href="tequila.css">
</head>

<body>

<center>
<header id="top" class="title">
<a href="tequila.html#top"><img src="picture/tequila-new3.png" alt="テキーラ全書">
</a></header>
<h1 id="menu" class="menu">MENU<br>
<p class="menu"><a href="tequila.html#tequilatoha">テキーラとは</a></p>
<p class="menu"><a href="maker_intro.html" target="blank">ブランド紹介</a></p>
<p class="menu"><a href="syouhin.html" target="blank">商品紹介</a></p>
<p class="menu"><a href="tenpo.html" target="blank">テキーラ取扱店紹介</a></p>
<p class="menu"><a href="bunken.html" target="blank">参考文献</a></p>
</h1>
</center>

<h2>商品紹介</h2>
<div class="box">
<aside>
<p class="maker">

<p class="list"><a href="syouhin.html#sauza">◇SAUZA</a></p>
<p class="list"><a href="syouhin.html#josecuervo">◇Jose Cuervo</a></p>
<p class="list"><a href="syouhin.html#olmeca">◇OLMECA</a></p>
<p class="list"><a href="syouhin.html#mariachi">◇MARIACHI</a></p>
<p class="list"><a href="syouhin.html#alacran">◇ALACRAN</a></p>

<p class="list"><a href="syouhin.html#ahatoro">◇AHA TORO</a></p>
<p class="list"><a href="syouhin.html#eltesoro">◇El Tesoro</a></p>
<p class="list"><a href="syouhin.html#agavales">◇Agavales</a></p>
<p class="list"><a href="syouhin.html#ole">◇Ole</a></p>
<p class="list"><a href="syouhin.html#orendain">◇Orendain</a></p>

<p class="list"><a href="syouhin_2.html#camino">◇Camino</a></p>
<p class="list"><a href="syouhin_2.html#elcharro">◇EL CHARRO</a></p>
<p class="list"><a href="syouhin_2.html#herradura">◇HERRADURA</a></p>
<p class="list"><a href="syouhin_2.html#corralejo">◇CORRALEJO</a></p>
<p class="list"><a href="syouhin_2.html#cazadores">◇CAZADORES</a></p>

<p class="list"><a href="syouhin_2.html#porfidio">◇PORFIDIO</a></p>
<p class="list"><a href="syouhin_2.html#casadeluna">◇CASA DE LUNA</a></p>
<p class="list"><a href="syouhin_2.html#tresreyes">◇TRES REYES</a></p>
<p class="list"><a href="syouhin_2.html#eljimador">◇el Jimador</a></p>
<p class="list"><a href="syouhin_2.html#donjurio">◇DonJurio</a></p>

<p class="list"><a href="syouhin_3.html#casanoble">◇Casa Noble</a></p>
<p class="list"><a href="syouhin_3.html#kah">◇KAH</a></p>
<p class="list"><a href="syouhin_3.html#patron">◇PATRON</a></p>
<p class="list"><a href="syouhin_3.html#latilica">◇La Tilica</a></p>
<p class="list"><a href="syouhin_3.html#muchaliga">◇MUCHA LIGA</a></p>

<p class="list"><a href="syouhin_3.html#rancholajoya">◇RANCHO LA JOYA</a></p>
<p class="list"><a href="syouhin_3.html#cascoviejo">◇Casco Viejo</a></p>
<p class="list"><a href="syouhin_3.html#eldestilador">◇EL DESTILADOR</a></p>
<p class="list"><a href="syouhin_3.html#tresalegrescompadres">◇Tres Alegres Compadres</a></p>
<p class="list"><a href="syouhin_3.html#hijosdevilla">◇Hijos de Villa</a></p>

<p class="list"><a href="syouhin_4.html#grancentenario">◇GRAN CENTENARIO</a></p>
<p class="list"><a href="syouhin_4.html#chilecariente">◇Chile Cariente</a></p>
<p class="list"><a href="syouhin_4.html#tresmagueyes">◇Tres Magueyes</a></p>
<p class="list"><a href="syouhin_4.html#casinoazul">◇Casino AZUL</a></p>
<p class="list"><a href="syouhin_4.html#elpadrino">◇EL PADRINO</a></p>

<p class="list"><a href="syouhin_4.html#lacofradia">◇LA COFRADIA</a></p>
<p class="list"><a href="syouhin_4.html#donacelia">◇DONA CELIA</a></p>
<p class="list"><a href="syouhin_4.html#donfernando">◇Don Fernando</a></p>

</p>
</aside>
<main>
<center>
<p>
<a href="syouhin.html">1</a>l2l<a href="syouhin_3.html">3</a>l<a href="syouhin_4.html">4</a>
</p>
</center>

<h3 id="camino">◇Camino Real(カミノ レアル)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=743"alt="カミノ レアル 商品紹介" target="blank"><img src="picture/camino_blanco.jpg" alt="カミノ レアル ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.35%<br>■カミノ・レアル蒸留所<br>■NOM 1487<br>■ロスアルトス地方 アランダス地区<br>・フレッシュなアガベの優しい香り<br>・滑らかな口当たりの飲みやすさ
</p>
</div>
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=744"alt="カミノ レアル 商品紹介" target="blank"><img src="picture/camino_gold.jpg" alt="カミノ レアル ゴールド" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Gold</strong><br>■Alc.40%<br>■カミノ・レアル蒸留所<br>■NOM 1487<br>■ロスアルトス地方 アランダス地区<br>・滑らかな発酵の香りと豊かな甘さ<br>
</p>
</div>
</div>
<a href="maker_intro.html#camino" alt="カミノ レアル ブランド">ブランド説明</a>



<h3 id="elcharro">◇EL CHARRO(エルチャッロ)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=234"alt="エルチャッロ 商品紹介" target="blank"><img src="picture/elcharro_silver.jpg" alt="エルチャッロ シルバー" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Silver</strong><br>■Alc.38%<br>■カンパニャ・テキレラ・デ・アランダス蒸留所<br>■NOM 1460<br>■ロスアルトス地方 アランダス地区<br>・滑らかな口当たりとスッキリと鼻に抜ける香り<br>
</p>
</div>
</div>
<a href="maker_intro.html#elcharro" alt="エルチャッロ ブランド">ブランド説明</a>



<h3 id="herradura">◇HERRADURA(エラドゥーラ)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=89"alt="エラドゥーラ 商品紹介" target="blank"><img src="picture/herradura_plata.jpg" alt="エラドゥーラ プラタ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Plata</strong><br>■Alc.40% / 100%AGAVE<br>■カーサ・エラドゥーラ蒸留所<br>■NOM 1119<br>■バジェス地方 アマティタン地区<br>・程よい甘さ<br>・樽の発酵香とほのかなスパイシーさ<br>
</p>
</div>
</div>
<a href="maker_intro.html#herradura" alt="エラドゥーラ ブランド">ブランド説明</a>



<h3 id="corralejo">◇CORRALEJO(コラレホ)</h3>
<div class="box">
<div>
<p>
<a href="https://www.premium-tequila.jp/products/detail.php?product_id=116"alt="コラレホ 商品紹介" target="blank"><img src="picture/corralejo_anejo.jpg" alt="コラレホ アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.38% / 100%AGAVE<br>■コラレホ蒸留所<br>■NOM 1368<br>■グアナファト州 ペンハモ地区<br>・熟成したシナモンのような深い香り<br>・バニラ引き立つ甘み<br>・テネシーウィスキー樽で1年熟成
</p>
</div>
</div>
<a href="maker_intro.html#corralejo" alt="コラレホ ブランド">ブランド説明</a>



<h3 id="cazadores">◇CAZADORES(カサドレス)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=61"alt="カサドレス 商品紹介" target="blank"><img src="picture/cazadores_blanco.jpg" alt="カサドレス ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.40% / 100%AGAVE<br>■カサドレス蒸留所<br>■NOM 1487<br>■ロスアルトス地方 アランダス地区<br>・上品でややスパイシーなハーブ香<br>・滑らかな舌触り<br>
</p>
</div>
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=63"alt="カサドレス 商品紹介" target="blank"><img src="picture/cazadores_anejo.jpg" alt="カサドレス アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.40% / 100%AGAVE<br>■カサドレス蒸留所<br>■NOM 1487<br>■ロスアルトス地方 アランダス地区<br>・バニラのような熟成したコク<br>・その中に薫るアガベの爽やかさ<br>・アメリカンオークの新樽で18ヶ月熟成
</p>
</div>
</div>
<a href="maker_intro.html#cazadores" alt="カサドレス ブランド">ブランド説明</a>




<h3 id="porfidio">◇PORFIDIO(ポルフィディオ)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=96"alt="ポルフィディオ 商品紹介" target="blank"><img src="picture/porfidio_silver.jpg" alt="ポルフィディオ シルバー" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Silver</strong><br>■Alc.39.5% / 100%AGAVE<br>■インモビリアリア・マスト蒸留所<br>■NOM 1462<br>■バジェス地方 ラス・フンタス地区<br>・丸みのある爽やかな飲み口ながら芳醇な香り<br>
</p>
</div>
</div>
<a href="maker_intro.html#porfidio" alt="ポルフィディオ ブランド">ブランド説明</a>



<h3 id="casadeluna">◇CASA DE LUNA(カサ・デ・ルナ)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=4"alt="カサ・デ・ルナ 商品紹介" target="blank"><img src="picture/casadeluna_blanco.jpg" alt="カサ・デ・ルナ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.40% / 100%AGAVE<br>■ファナカトラン蒸留所<br>■NOM 1551<br>■ソナ・セントロ地方 ファナカトラン地区<br>・滑らかな舌触りに優しく鼻通る香り<br>
</p>
</div>
</div>
<a href="maker_intro.html#casadeluna" alt="カサ・デ・ルナ ブランド">ブランド説明</a>



<h3 id="tresreyes">◇TRES REYES(トレスレイス)</h3>
<div class="box">
<div>
<p>
<a href="https://www.miraido-onlineshop.com/item/7-tres-reyes-s/
" alt="トレスレイス 商品紹介" target="blank"><img src="picture/tresreyes_silver.jpg" alt="トレスレイス シルバー" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Silver</strong><br>■Alc.38%<br>■カンパニャ・テキレラ・デ・アランダス蒸留所<br>■NOM 1460<br>■ロスアルトス地方 アランダス地区<br>・ビターな口当たりと甘い後味<br>
</p>
</div>
</div>
<a href="maker_intro.html#tresreyes" alt="トレスレイス ブランド">ブランド説明</a>



<h3 id="eljimador">◇el Jimador(エルジマドール)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=101" alt="エルジマドール 商品紹介" target="blank"><img src="picture/eljimador_blanco.jpg" alt="エルジマドール ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.40% / 100%AGAVE<br>■カーサ・エラドゥーラ蒸留所<br>■NOM 1119<br>■バジェス地方 アマティタン地区<br>・サイダーのような爽やかな香り<br>
</p>
</div>
</div>
<a href="maker_intro.html#eljimador" alt="エルジマドール ブランド">ブランド説明</a>



<h3 id="donjurio">◇DonJurio(ドンフリオ)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=14797" alt="ドンフリオ 商品紹介" target="blank"><img src="picture/donjurio_blanco.jpg" alt="ドンフリオ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.38% / 100%AGAVE<br>■ドン・フリオ蒸留所<br>■NOM 1449<br>■ロスアルトス地方 アトトニルコ地区<br>・澄み渡ったまろやかな香りと適度な甘味<br>
</p>
</div>
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=68" alt="ドンフリオ 商品紹介" target="blank"><img src="picture/donjurio_anejo.jpg" alt="ドンフリオ アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.40% / 100%AGAVE<br>■ドン・フリオ蒸留所<br>■NOM 1449<br>■ロスアルトス地方 アトトニルコ地区<br>・コーヒー、バニラのようなまろやかなコクの熟成<br>・蜂蜜に適度な酸味を感じる甘み<br>・アメリカンオーク樽で18ヶ月熟成
</p>
</div>
</div>
<a href="maker_intro.html#donjurio" alt="ドンフリオ ブランド">ブランド説明</a>

</center>
</main>
</div>
<center>
<p>
<a href="syouhin.html">1</a>l2l<a href="syouhin_3.html">3</a>l<a href="syouhin_4.html">4</a>
</p>
<br>
<br>
<nav>
<a href="#top">トップに戻る</a>
</nav>
</center>
</body>
</html>