/* -----------------------------------------------
    変数設定
----------------------------------------------- */
// width
$body_width: 1280px;
$sp: 768px;

// color
$brown: rgb(94,61,30);
$beige: rgb(245, 245, 220);
$orange: rgba(255,165,0,1);
$orange_skelton: rgba(255,165,0,0.5);
$white_skelton: rgba(232, 223, 213, 0.5);
$bg_wood_dark: url(/image/tequila/background/bg005.jpg);
$bg_colk: url(/image/tequila/background/bg037.gif);
$bg_header: url(/image/tequila/tequila-lineup-sepia4.png);

/* -----------------------------------------------
    リセットCSS
----------------------------------------------- */
@import 'reset';

/* -----------------------------------------------
    初期設定
----------------------------------------------- */
.body {
    width: 100%;
    max-width: $body_width;
    margin: 0 auto;
    background: $bg_wood_dark;
    color: $brown;
    line-height: 1.8;
    font-family: 'Noto Serif JP', serif;
    font-style: italic;
    font-size: 15px;
    @media screen and(max-width: $sp) {
        font-size: 12px;
    }
}

.aside {
    width: 25%;
    border-right: 1px solid $brown;
    @media screen and(max-width: $sp) {
        width: 100%;
        border-right: none;
    }
}
.main {
    width: 75%;
    @media screen and(max-width: $sp) {
        width: 100%;
    }
}

// リンク設定
a {
    text-decoration: none;
    color: $brown;
    &:hover {
        color: $orange;
    }
}

// 画像設定
img {
    width: 100%;
    height: auto;
}

/* -----------------------------------------------
    共通メソッド：レイアウト
----------------------------------------------- */
// コンテンツコンテナ
.contents-frame {
    background: $white_skelton;
    padding: 20px;
}

// フレックスボックス
.flex-box {
    display: flex;
    justify-content: space-around;
    @media screen and(max-width: $sp) {
        display: block;
    }
}

// スクロール設定
.scroll-area {
    overflow: scroll;
}

// 中央揃え
.center {
    margin: 0 auto;
    text-align: center;
}

// テキストインデント
.indent {
    padding-left: 20px;
}

// PCで非表示設定
.hide-pc {
    display: none;
    @media screen and(max-width: $sp) {
        display: block;
    }
}

// SPで非表示設定
.hide-sp {
    display: block;
    @media screen and(max-width: $sp) {
        display: none;
    }
}

/* -----------------------------------------------
    共通：テーブルエリア
----------------------------------------------- */
.table-area {
    // テーブルセル設定
    th,td {
        padding: 8px 12px;
        border: 1px solid $brown;
    }
    th {
        background: $beige;
    }
    td {
        background: $bg_colk;
    }
    // ヘッダー
    .table-area__header {
        background: $bg_wood_dark;
        color: $beige;
    }
}

/* -----------------------------------------------
    共通：文章エリア
----------------------------------------------- */
.letters-area {
    background: $bg_colk;
    padding: 15px;
    img {
        max-width: 300px;
    }
    // 見出し
    &__title {
        display: block;
        font-size: 20px;
        line-height: 2;
        text-shadow: 1px 1px 4px $orange;
        border-bottom: 2px dotted $brown;
        @media screen and(max-width: $sp) {
            font-size: 15px;
        }
    }
    &__paragraph {
        background: $white_skelton;
        padding: 7px;
        margin: 5px;
    }
}


/* -----------------------------------------------
    共通：ヘッダーエリア
----------------------------------------------- */
.header-area {
    background-image: $bg_header;
    background-size: 2080px;
    @media screen and(max-width: $sp) {
        background-size: 780px;
    }
    // 背景フレーム設定
    &__bg-frame {
        background-color: rgba(220,220,220,0.5);
        padding: 20px;
        padding-bottom: 0;
    }
    // メインロゴ
    &__main-logo {
        font-size: 100px;
        font-weight: bolder;
        color: $brown;
        display: inline;
        line-height: 1;
        text-shadow: 3px 3px 1px $orange_skelton;
        @media screen and(max-width: $sp) {
            font-size: 50px;
            text-shadow: 1px 1px 1px $orange_skelton;
        }
    }
    // サブロゴ
    &__sub-logo {
        font-style: italic;
        font-size: 50px;
        line-height: 2;
        display: inline;
        text-shadow: 3px 3px 1px $orange_skelton;
        @media screen and(max-width: $sp) {
            font-size: 25px;
            text-shadow: 1px 1px 1px $orange_skelton;
        }
    }

    // グローバルメニュー
    .global-menu {
        font-size: 20px;
        border-top: 2px solid $brown;
        padding: 5px;
        @media screen and(max-width: $sp) {
            font-size: 16px;
        }
        // メニューボタン
        &__btn {
            display: inline-block;
            margin: 5px 0;
            background: $bg_wood_dark;
            color: $beige;
            max-width: 240px;
            width: 100%;
            @media screen and(max-width: $sp) {
                max-width: 300px;
                margin-bottom: 5px;
            }
            a {
                color: $beige;
                display: block;
                padding-bottom: 4px;
                margin: 0px;
                &:hover {
                    background: rgba(200,200,200,0.4);
                }
            }
        }
        // SPのメニューボタン（≡）
        &__btn-sp {
            font-size: 50px;
            font-style: normal;
            line-height: 1;
            border-radius: 4px;
            float: right;
            position: relative;
            top: -2px;
            right: -10px;
        }
    }
}

/* -----------------------------------------------
    共通パーツ：見出し
----------------------------------------------- */
// 大項目
.section-1 {
    background: $orange_skelton;
    color: $beige;
    font-size: 25px;
    padding-bottom: 6px;
    text-align: center;
    border: 1px solid $brown;
    border-left: none;
    border-right: none;
    @media screen and(max-width: $sp) {
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 3px;
    }
}

// 中項目
.section-2 {
    background: $bg_wood_dark;
    color: $beige;
    font-size: 20px;
    padding-bottom: 6px;
    text-align: center;
    @media screen and(max-width: $sp) {
        font-size: 14px;
        padding-bottom: 3px;
    }
}

/* -----------------------------------------------
    共通パーツ：ボタン
----------------------------------------------- */
// 共通ボタン
.common-btn {
    border-bottom: 1px solid $brown;
    @media screen and(max-width: $sp) {
        text-align: center;
    }
    &:last-child {
        border-bottom: none;
    }
    a {
        display: block;
        padding: 10px 20px;
        .small-text {
            font-size: 11px;
        }
        &:hover {
            background: rgba(255,255,255,0.5);
        }
    }
    // 項目選択ボタン
    &--type {
        background: $bg_wood_dark;
        border-bottom: none;
        border-top: 1px solid $beige;
        a {
            color: $beige;
        }
    }

    // リストボタン
    &--list {
        background: $beige;
    }

    // プルダウンボタン
    &--down {
        background: $bg_colk;
    }
}

/* -----------------------------------------------
    共通パーツ：エラーメッセージ
----------------------------------------------- */
.error-message {
    background: $white_skelton;
    border: 1px solid $brown;
    color: $brown;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}

/* -----------------------------------------------
    共通：フッターエリア
----------------------------------------------- */
.footer-area {
    // トップに戻るボタン
    &__top-btn {
        margin: 50px;
        a {
            color: beige;
            text-align: center;
            background: $orange_skelton;
            padding: 10px;
            border-radius: 50%;
            box-shadow: 1px 1px 68px 3px $beige;
            font-style: normal;
        }
    }
}

/* -----------------------------------------------
    ページ別：テキーラとは
----------------------------------------------- */
@import 'index';

/* -----------------------------------------------
    ページ別：商品紹介
----------------------------------------------- */
@import 'syouhin';

/* -----------------------------------------------
    ページ別：店舗紹介
----------------------------------------------- */
@import 'tenpo';
