/* -----------------------------------------------
    共通レイアウト設定
----------------------------------------------- */
/*********** コンテンツコンテナ設定 ***********/
.contents-frame {
    padding: 20px;
}

/*********** フレックスボックス設定 ***********/
.flex-box {
    display: flex;
    justify-content: space-around;
    @media screen and(max-width: $sp_width) {
        display: block;
    }
}

/*********** スクロール設定 ***********/
.scroll-area {
    overflow: scroll;
}

/*********** 中央揃え設定 ***********/
.center {
    margin: 0 auto;
    text-align: center;
}

/*********** 非表示設定 ***********/
// PC
.hide-pc {
    display: none;
    @media screen and(max-width: $sp_width) {
        display: block;
    }
}

// SP
.hide-sp {
    display: block;
    @media screen and(max-width: $sp_width) {
        display: none;
    }
}

/* -----------------------------------------------
    共通パーツ設定
----------------------------------------------- */
/*********** 文章エリア設定 ***********/
.letters-area {
    padding: 15px;

    // 画像設定
    img {
        max-width: 300px;
    }

    // 見出し設定
    &__title {
        display: block;
        color: $brown;
        font-size: 20px;
        line-height: 2;
        border-bottom: 2px dotted $brown;
        @media screen and(max-width: $sp_width) {
            font-size: 15px;
        }
    }

    // 段落設定
    &__paragraph {
        color: $light_brown;
        padding: 7px;
        margin: 5px;
    }

    // インデント設定
    .indent {
        padding-left: 20px;
    }
}

/*********** テーブル設定 ***********/
.table-area {

    // テーブルヘッダー設定
    .table-area__header {
        background: $bg_wood_dark;
        color: $beige;
    }

    // テーブルセル設定
    th,td {
        padding: 8px 12px;
        border: 1px solid $brown;
    }
    th {
        background: $orange_clear;
    }
    td {
        background: unset;
    }
}

/*********** セクションタイトル設定 ***********/
.section-title {
    background: $bg_wood_dark;
    background-size: 100%;
    color: $beige;
    font-size: 18px;
    padding-bottom: 6px;
    padding-left: 20px;
    @media screen and(max-width: $sp_width) {
        font-size: 14px;
        padding-bottom: 3px;
    }
}

/*********** セクションテキスト設定 ***********/
.section-text {
    &-sub {
        padding-left: 0.5em;
        font-size: 14px;
        @media screen and(max-width: $sp_width) {
            font-size: 12px;
        }
    }
}

/*********** 共通ボタン設定 ***********/
.common-btn {
    cursor: pointer;
    background: $white_clear_80;
    backdrop-filter: blur(30px);
    -wekit-backdrop-filter: blur(30px);
    border-bottom: 1px solid $brown;

    // リンク設定
    a {
        display: block;
        padding: 10px 20px;

        // ホバー設定
        &:hover {
            background: $white_clear;
        }

        // 小文字設定
        .small-text {
            font-size: 11px;
        }
    }

    // ①[項目選択]ボタン設定
    &--type {
        &:first-child {
            border-top: 1px solid $brown;
        }
    }

    // ②③[商品一覧]ボタン設定
    &--list {
        padding-left: 1em;

    }

    // ④[プルダウン]ボタン設定
    &--down {
        padding-left: 2em;
        border-bottom: 1px dotted $brown;
        &:last-child {
            border-bottom: none;
        }
    }

}

/*********** 注釈メッセージ設定 ***********/
.message {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background: $white_clear;
    color: $brown;
    border: 1px solid $brown;
    border-radius: 8px;
}

.input-error {
    width: 100%;
    margin: 10px 0px;
    color: $red;
    border-color: $red;
}

/*********** 外部リンク設定 ***********/
.external-link {
    text-decoration: underline;
    padding: 10px;
    &:visited {
        color: $orange_clear;
    }
    &:hover {
        color: $beige;
    }
}
