/* -----------------------------------------------
    ページ別：テキーラとは
----------------------------------------------- */
.top_page {
    // 文章エリア
    .letters-area {
        margin-bottom: 40px;
        // 見出し
        &__title {
            padding: 1px 5px;
            margin-bottom: 2px;
            @media screen and(max-width: $sp) {
                font-size: 13px;
            }
        }
        // 内容
        &__paragraph {
            margin-bottom: 10px;
        }
    }

    // テーブルエリア
    .table-area {
        // スクロール領域
        &__scroll-frame {
            padding-bottom: 20px;
            width: 100%;
            min-width: 1000px;
        }
    }
}
