/* -----------------------------------------------
    初期設定
----------------------------------------------- */
// ボディ設定
.body {
    scroll-behavior: smooth;
    width: 100%;
    max-width: $body_width;
    min-width: $min_width;
    margin: 0 auto;
    background: $bg_wood_dark;
    color: $brown;
    line-height: 1.8;
    font-family: 'Noto Serif JP', serif;
    font-size: 15px;
    @media screen and(max-width: $sp_width) {
        font-size: 12px;
    }
}

// リンク設定
a {
    color: $brown;
    text-decoration: none;
}

// 画像設定
img {
    width: 100%;
    height: auto;
}

