/* -----------------------------------------------
    レイアウト設定
----------------------------------------------- */
// ヘッダーエリア
.header-area {
    background-image: $bg_header;
    @media screen and(max-width: $sp_width) {
        background-size: 780px;
    }

    // 背景フレーム設定
    &__bg-frame {
        background-color: $white_clear;
    }

    // コンテンツ設定
    @import 'parts/header';
}

// サイドエリア
.aside {
    width: 25%;
    border-right: 1px solid $brown;
    @media screen and(max-width: $sp_width) {
        width: 100%;
        border-right: none;
    }
}

// メインエリア
.main {
    width: 100% - 25%;
    @media screen and(max-width: $sp_width) {
        width: 100%;
    }
}

// フッターエリア
.footer-area {
    // コンテンツ設定
    @import 'parts/footer';
}
