/* -----------------------------------------------
    初期設定用
----------------------------------------------- */
*,
*:after,
*:before {
    font-family: 'MS Mincho',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------
    要素固定設定
----------------------------------------------- */
body {
    background: url(/image/tequila/bg005.jpg);
    color: rgb(94,61,30);
    font-weight: bold;
    font-size: 1em;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    zoom: 75%;
}

aside {
    width: 25%;
    border-right: 1px solid rgb(94,61,30);
    @media screen and(max-width: 768px) {
        width: 100%;
    }
}

main {
    width: 75%;
    @media screen and(max-width: 768px) {
        width: 100%;
    }
}

h2 {
    background: rgba(255,165,0,0.5);
    color: beige;
    text-align: center;
    height: 40px;
    margin: 0;
    border: 1px solid rgb(94,61,30);
    border-left: none;
    border-right: none;
}

h3 {
    background: url(/image/tequila/bg005.jpg);
    color: beige;
    box-shadow: 0px 5px 10px beige;
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 2em;
}

th,td {
    font-style: italic;
    padding: 4px;
    text-align: center;
    border: 2px solid rgb(94,61,30);
}

td {
    background: url(/image/tequila/bg037.gif);
}

th {
    background: beige;
}

a {
    &:link {
        color: rgb(94,61,30);
        text-decoration: none;
    }
    &:visited {
        color: rgb(94,61,30);
        text-decoration: underline;
    }
    &:hover {
        color: orange;
        text-decoration: none;
    }
}

img {
    width: 100%;
    box-shadow: 3px 3px 4px 4px;
}

/* -----------------------------------------------
    共通設定
----------------------------------------------- */
// コンテンツコンテナ
.contents-frame {
    background: rgba(232, 223, 213, 0.5);
    padding: 20px;
}

// フレックスボックス
.flex-box {
    display: flex;
    justify-content: space-around;
    @media screen and(max-width: 768px) {
        display: block;
    }
}

// テーブル設定
.table-setting {
    padding: 20px;
    border: 1px solid rgb(94,61,30);
}

// テーブルヘッダー設定
.chiho {
    background: url(/image/tequila/bg005.jpg);
    color: beige;
    border: 2px solid beige;
    border-image: url(/image/tequila/bg005.jpg) 15 round;
}

// 中央揃え
.center {
    margin: 0 auto;
    text-align: center;
}

// テキストインデント
.indent {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 10px;
}

// 文章エリア
.letters-area {
    background: url(/image/tequila/bg037.gif);
    border-radius: 0;
    padding: 15px;
    box-shadow: 3px 3px 4px 4px;
    img {
        width: 100%;
        max-width: 300px;
        max-height: 300px;
    }
}

// 文章エリア見出し
.letters-title {
    font-size: 20px;
    line-height: 3em;
    background: rgba(255,165,0,0.5);
    padding: 5px 10px;
    border-bottom: 1.5px solid rgb(94,61,30);
    border-right: 1.5px solid rgb(94,61,30);
}

// メインタイトル
.title {
    background: url(/image/tequila/tequila-lineup-sepia4.png);
    padding: 20px;
    padding-bottom: 0;
}
.main-title {
    font-style: italic;
    font-size: 100px;
    color: rgb(94,61,30);
    display: inline;
    line-height: 1.5;
    @media screen and(max-width: 768px) {
        font-size: 50px;
    }
}
.sub-title {
    font-style: italic;
    font-size: 50px;
    color: rgb(94,61,30);
    line-height: 0;
    display: inline;
    @media screen and(max-width: 768px) {
        font-size: 25px;
    }
}

// リストボタン
.list-btn {
    padding: 0px;
    background: url(/image/tequila/bg037.gif);
    box-shadow: 3px 3px 4px 4px;
    border-bottom: 1px solid rgb(94,61,30);
    margin: 0;
    a {
        display:block;
        padding: 10px;
        &:hover {
            background: rgba(255,255,255,0.5);
        }
    }
    @media screen and(max-width: 768px) {
        text-align: center;
    }
}

// グローバルメニュー
.global-menu {
    font-size: 1.5em;
    border-top: 2px solid rgb(94,61,30);
    padding: 5px;
    .global-menu-btn {
        display: inline-block;
        padding: 0px;
        margin: 10px;
        background: url(/image/tequila/bg005.jpg);
        box-shadow: 0px 5px 5px;
        border-radius: 8px;
        color: beige;
        width: 300px;
        a {
            color: beige;
            display: block;
            padding: 10px 20px;
            margin: 0px;
            &:hover {
                background: rgba(200,200,200,0.4);
            }
       }
    }
}

// トップへ戻るボタン
.nav-top-btn {
    margin: 50px;
    a {
        text-align: center;
        background: beige;
        padding: 10px;
        border-radius: 6px;
        box-shadow: beige 1px 1px 68px 3px;
    }
}

/* -----------------------------------------------
    ページ別：テキーラとは
----------------------------------------------- */
.top_page {
    // 文章エリア
    .letters-area {
        margin-bottom: 40px;
    }
    // 文章エリア見出し
    .letters-title {
        background: none;
        border-right: none;
        border-bottom: 2px solid rgb(255,165,0);
        padding: 5px 0px;
    }
}

/* -----------------------------------------------
    ページ別：商品紹介
----------------------------------------------- */
.syouhin {
    // リストボタンーー表示種別ボタン
    .list-btn--syouhin-type {
        background: beige;
        border-radius: 8px;
        text-align: center;
        margin-bottom: 20px;
        a:hover {
            border-radius: 8px;
        }
    }
    // 文章エリア
    .letters-area {
        width: 50%;
        @media screen and(max-width: 768px) {
            width: 100%;
        }
    }

    // 画像エリア
    .syouhin-container {
        margin-bottom: 20px;
        a:hover {
            color: beige;
        }
        img {
        width: 300px;
        height: 300px;
        }
    }

    // 見出し(h3)
    .syouhin_title {
        margin-bottom: 30px;
    }
}
