/* -----------------------------------------------
    変数設定
----------------------------------------------- */
// width
$body_width: 1280px;
$sp_width: 768px;
$min_width: 375px;

// height
$header_height_sp: 36px;

// color
$black: black;
$white: white;
$brown: rgb(63, 41, 19);
$light_brown: rgb(89, 58, 28);
$beige: rgb(245, 245, 220);
$orange_clear: rgba(255,165,0,0.5);
$white_clear: rgba(255, 255, 255, 0.5);
$white_clear_80: rgba(255, 255, 255, 0.8);

// image
$bg_wood_dark: url(/image/background/bg005.jpg);
$bg_colk: url(/image/background/bg037.gif);
$bg_header: url(/image/tequila-lineup-sepia_4.png);

