@charset "UTF-8";

/* -----------------------------------------------
    変数設定
----------------------------------------------- */

/* -----------------------------------------------
    変数設定
----------------------------------------------- */

/* -----------------------------------------------
    リセットCSS設定
----------------------------------------------- */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

li {
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------
    初期設定
----------------------------------------------- */

/* -----------------------------------------------
    初期設定
----------------------------------------------- */

.body {
  width: 100%;
  max-width: 1280px;
  min-width: 375px;
  margin: 0 auto;
  background: url(/image/background/bg005.jpg);
  background-size: 25%;
  color: #3f2913;
  line-height: 1.8;
  font-family: "Noto Serif JP", serif;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .body {
    font-size: 12px;
  }
}

html,
body {
  scroll-behavior: smooth;
}

a {
  color: #3f2913;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* -----------------------------------------------
    レイアウト設定
----------------------------------------------- */

/* -----------------------------------------------
    レイアウト設定
----------------------------------------------- */

.header-area {
  background-image: url(/image/tequila-lineup-sepia_4.png);
  background-size: 30%;
  /* -----------------------------------------------
      ヘッダーエリアコンテンツ設定
  ----------------------------------------------- */
}

@media screen and (max-width: 768px) {
  .header-area {
    height: 36px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.header-area__bg-frame {
  background-color: rgba(232, 223, 213, 0.7);
}

@media screen and (max-width: 768px) {
  .header-area__bg-frame {
    height: 36px;
  }
}

.header-area__main-logo {
  font-size: 20px;
  font-weight: bolder;
  display: inline;
  text-shadow: 3px 3px 1px rgba(255, 165, 0, 0.5);
  position: relative;
  top: -2px;
  left: 0;
}

@media screen and (max-width: 768px) {
  .header-area__main-logo {
    text-shadow: 1px 1px 1px rgba(255, 165, 0, 0.5);
  }
}

.header-area .global-menu {
  font-size: 16px;
  background: rgba(255, 165, 0, 0.5);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header-area .global-menu {
    background: #3f2913;
    position: absolute;
    top: 36px;
    left: 0;
  }
}

.header-area .global-menu__btn {
  display: inline-block;
  max-width: 150px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header-area .global-menu__btn {
    max-width: 300px;
    border-bottom: 1px dotted beige;
  }

  .header-area .global-menu__btn:last-child {
    border-bottom: none;
  }
}

.header-area .global-menu__btn a {
  color: #3f2913;
  display: block;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .header-area .global-menu__btn a {
    color: beige;
  }
}

.header-area .global-menu__btn a:hover {
  background: rgba(255, 255, 255, 0.5);
}

.header-area .global-menu__btn-sp {
  font-size: 30px;
  line-height: 1;
  float: right;
  position: relative;
  top: 0;
  right: 5px;
}

.aside {
  width: 25%;
  border-right: 1px solid #3f2913;
  /* -----------------------------------------------
      サイドエリアコンテンツ設定
  ----------------------------------------------- */
}

@media screen and (max-width: 768px) {
  .aside {
    width: 100%;
    border-right: none;
    position: fixed;
    top: 36px;
    left: 0;
    background: unset;
    color: #3f2913;
    overflow: scroll;
  }
}

@media screen and (max-width: 768px) {
  .aside .sidemenu-sp {
    position: fixed;
    top: 3px;
    right: 50px;
    background: unset;
    color: #3f2913;
  }
}

.main {
  background: rgba(232, 223, 213, 0.7);
  width: 75%;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}

.main-no-aside {
  background: rgba(232, 223, 213, 0.7);
  padding-bottom: 5px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main-no-aside {
    padding-top: 36px;
  }
}

.footer-area {
  padding: 20px;
  color: beige;
  /* -----------------------------------------------
      フッターエリアコンテンツ設定
  ----------------------------------------------- */
}

/* -----------------------------------------------
    共通設定
----------------------------------------------- */

/* -----------------------------------------------
    共通レイアウト設定
----------------------------------------------- */

.contents-frame {
  padding: 20px;
}

.flex-box {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .flex-box {
    display: block;
  }
}

.scroll-area {
  overflow: scroll;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.hide-pc {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide-pc {
    display: block;
  }
}

.hide-sp {
  display: block;
}

@media screen and (max-width: 768px) {
  .hide-sp {
    display: none;
  }
}

/* -----------------------------------------------
    共通パーツ設定
----------------------------------------------- */

.letters-area {
  padding: 15px;
}

.letters-area img {
  max-width: 300px;
}

.letters-area__title {
  color: #3f2913;
  display: block;
  font-size: 20px;
  line-height: 2;
  border-bottom: 2px dotted #3f2913;
}

@media screen and (max-width: 768px) {
  .letters-area__title {
    font-size: 15px;
  }
}

.letters-area__paragraph {
  color: #593a1c;
  padding: 7px;
  margin: 5px;
}

.letters-area .indent {
  padding-left: 20px;
}

.table-area .table-area__header {
  background: url(/image/background/bg005.jpg);
  color: beige;
}

.table-area th,
.table-area td {
  padding: 8px 12px;
  border: 1px solid #3f2913;
}

.table-area th {
  background: rgba(232, 223, 213, 0.7);
}

.table-area td {
  background: unset;
}

.section-title {
  background: url(/image/background/bg005.jpg);
  background-size: 100%;
  color: beige;
  font-size: 18px;
  padding-bottom: 6px;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 14px;
    padding-bottom: 3px;
  }
}

.common-btn {
  cursor: pointer;
  border-bottom: 1px solid #3f2913;
}

.common-btn:last-child {
  border-bottom: none;
}

.common-btn a {
  display: block;
  padding: 10px 20px;
}

.common-btn a:hover {
  background: rgba(255, 255, 255, 0.5);
}

.common-btn a .small-text {
  font-size: 11px;
}

.common-btn--type {
  background: #593a1c;
  border-bottom: none;
  border-top: 1px solid beige;
}

.common-btn--type a {
  color: beige;
}

.common-btn--list {
  background: beige;
}

.common-btn--down {
  background: url(/image/background/bg037.gif);
}

.message {
  background: rgba(232, 223, 213, 0.7);
  border: 1px solid #3f2913;
  color: #3f2913;
  border-radius: 8px;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}

/* -----------------------------------------------
    ページ設定
----------------------------------------------- */

/* -----------------------------------------------
    ページ別：テキーラとは
----------------------------------------------- */

.top .letters-area {
  margin-bottom: 40px;
}

.top .letters-area__title {
  padding: 1px 5px;
}

@media screen and (max-width: 768px) {
  .top .letters-area__title {
    font-size: 13px;
  }
}

.top .letters-area__paragraph {
  margin-bottom: 10px;
}

.top .table-area__scroll-frame {
  padding-bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .top .table-area {
    min-width: 200%;
    font-size: 13px;
  }
}

/* -----------------------------------------------
    ページ別：商品紹介
----------------------------------------------- */

.syouhin .syouhin-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #3f2913;
  padding: 20px 0;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .syouhin .syouhin-container {
    width: 80%;
  }
}

.syouhin .syouhin-container a:hover {
  color: beige;
}

.syouhin .syouhin-container .image-area {
  width: 100%;
  height: 280px;
  max-width: 280px;
}

@media screen and (max-width: 768px) {
  .syouhin .syouhin-container .image-area {
    width: 100%;
    max-width: 460px;
    height: auto;
  }
}

.syouhin .syouhin-container .letters-area {
  width: 50%;
  max-width: 460px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .syouhin .syouhin-container .letters-area {
    width: 100%;
  }
}

.syouhin .syouhin-container .letters-area__title {
  padding: 0px 10px;
  margin-bottom: 15px;
}

.syouhin .syouhin-container .letters-area__paragraph {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .syouhin .syouhin-container .letters-area__paragraph {
    font-size: 12px;
  }
}

.syouhin .syouhin-container .letters-area__scroll-frame {
  padding: 15px;
  width: 460px;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .syouhin .syouhin-container .letters-area__scroll-frame {
    height: auto;
  }
}

/* -----------------------------------------------
    ページ別：店舗紹介
----------------------------------------------- */

.tenpo .table-area__scroll-frame {
  margin: 0 auto;
  width: 100%;
  min-width: 1000px;
}

.tenpo .letters-area__title {
  padding: 1px 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .tenpo .letters-area__title {
    font-size: 13px;
  }
}

/* -----------------------------------------------
    ページ別：データ情報登録
----------------------------------------------- */

.form .table-area {
  width: 100%;
  padding-bottom: 20px;
}

.form .table-area__scroll-frame {
  padding-bottom: 20px;
  width: 100%;
  min-width: 1000px;
}

.form th,
.form td {
  vertical-align: middle;
}

.form input[type=text] {
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #3f2913;
  border: 1px dashed #3f2913;
  background: none;
  padding: 5px;
}

.form input[type=text]:hover {
  background: rgba(232, 223, 213, 0.7);
}

.form input[type=text]:focus {
  outline-color: orange;
}

.form input[type=file] {
  width: 100%;
  height: 50px;
  color: #3f2913;
  border: 1px dashed #3f2913;
  background: none;
}

.form input[type=file]:focus {
  outline-color: orange;
}

.form button {
  width: 30%;
  max-width: 300px;
  background: beige;
  color: #3f2913;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 20px;
}

.form button:hover {
  background: rgba(255, 165, 0, 0.5);
  border: 1px solid #3f2913;
}

.form button:focus {
  outline-color: orange;
}

.form-confirm td {
  width: 80%;
}

.form-confirm th {
  width: 300px;
}

