*,
*:after,
*:before {
  font-family: "MS Mincho", sans-serif;
}

body {
  background: url(/image/tequila/bg005.jpg);
  color: #5e3d1e;
  font-weight: bold;
  font-size: 1em;
  margin: 0 auto;
  width: 1500px;
  zoom: 75%;
}

h2 {
  background: rgba(255, 165, 0, 0.5);
  color: beige;
  text-align: center;
  height: 40px;
  margin: 0;
  border: 1px solid #5e3d1e;
  border-left: none;
  border-right: none;
}

h3 {
  background: url(/image/tequila/bg005.jpg);
  color: beige;
  box-shadow: 0px 5px 10px beige;
  text-align: center;
}

p {
  line-height: 2em;
}

aside {
  width: 25%;
  border-right: 1px solid #5e3d1e;
}

main {
  width: 75%;
}

td {
  font-weight: bold;
  font-style: italic;
  padding: 4px;
  text-align: center;
  border: 2px solid green;
  background: url(/image/tequila/bg037.gif);
  -o-border-image: url(/image/tequila/bg005.jpg) 15 round;
     border-image: url(/image/tequila/bg005.jpg) 15 round;
}

th {
  font-weight: bold;
  font-style: italic;
  padding: 4px;
  text-align: center;
  border: 2px solid green;
  background: beige;
  -o-border-image: url(/image/tequila/bg005.jpg) 15 round;
     border-image: url(/image/tequila/bg005.jpg) 15 round;
}

a:link {
  color: #5e3d1e;
  text-decoration: none;
}

a:visited {
  color: #5e3d1e;
  text-decoration: underline;
}

a:hover {
  color: orange;
  text-decoration: none;
}

img {
  box-shadow: 3px 3px 4px 4px;
}

td.none {
  font-weight: bold;
  font-style: italic;
  padding: 4px;
  text-align: center;
  border: 2px none green;
  background: none;
}

td.chiho {
  font-weight: bold;
  font-style: italic;
  padding: 4px;
  text-align: center;
  border: 2px solid white;
  background: green url(/image/tequila/bg005.jpg);
  color: white;
  -o-border-image: url(/image/tequila/bg005.jpg) 15 round;
     border-image: url(/image/tequila/bg005.jpg) 15 round;
}

.table-setting {
  padding: 20px;
  border: 1px solid #5e3d1e;
}

.indent {
  padding-left: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.title {
  background: url(/image/tequila/tequila-lineup-sepia4.png);
  padding: 20px;
  padding-bottom: 0;
}

.main-title {
  font-style: italic;
  font-size: 100px;
  color: #5e3d1e;
  display: inline;
  line-height: 1.5;
}

.sub-title {
  font-style: italic;
  font-size: 50px;
  color: #5e3d1e;
  line-height: 0;
  display: inline;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.flex-box {
  display: flex;
  justify-content: space-around;
}

.contents-frame {
  background: rgba(232, 223, 213, 0.5);
  padding: 20px;
}

.list-btn {
  padding: 0px;
  background: url(/image/tequila/bg037.gif);
  box-shadow: 3px 3px 4px 4px;
  border-bottom: 1px solid #5e3d1e;
  margin: 0;
}

.list-btn a {
  display: block;
  padding: 10px;
}

.list-btn a:hover {
  background: rgba(255, 255, 255, 0.5);
}

.global-menu {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  border-top: 2px solid #5e3d1e;
  padding: 5px;
}

.global-menu .global-menu-btn {
  display: inline-block;
  padding: 0px;
  margin: 10px;
  background: url(/image/tequila/bg005.jpg);
  box-shadow: 0px 5px 5px;
  border-radius: 8px;
  color: beige;
}

.global-menu .global-menu-btn a {
  color: beige;
  display: block;
  padding: 10px 20px;
  margin: 0px;
}

.global-menu .global-menu-btn a:hover {
  background: rgba(200, 200, 200, 0.4);
}

.nav-top-btn {
  margin: 50px;
}

.nav-top-btn a {
  text-align: center;
  background: beige;
  padding: 10px;
  border-radius: 6px;
  box-shadow: beige 1px 1px 68px 3px;
}

.letters-area {
  background: url(/image/tequila/bg037.gif);
  border-radius: 0;
  padding: 15px;
  box-shadow: 3px 3px 4px 4px;
}

.letters-title {
  font-size: 20px;
  line-height: 3em;
  background: rgba(255, 165, 0, 0.5);
  padding: 5px 10px;
  border-bottom: 1.5px solid #5e3d1e;
  border-right: 1.5px solid #5e3d1e;
}

.top_page .letters-area {
  margin-bottom: 40px;
}

.top_page .letters-title {
  background: none;
  border-right: none;
  border-bottom: 2px solid orange;
  padding: 5px 0px;
}

.syouhin .list-btn--syouhin-type {
  background: beige;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.syouhin .list-btn--syouhin-type a:hover {
  border-radius: 8px;
}

.syouhin .letters-area {
  width: 50%;
}

.syouhin .syouhin-container a:hover {
  color: beige;
}

