/* -----------------------------------------------
    ページ別：テキーラとは
----------------------------------------------- */
.top {
    // 文章エリア
    .letters-area {
        margin-bottom: 40px;

        // 見出し
        &__title {
            padding: 1px 5px;
            @media screen and(max-width: $sp_width) {
                font-size: 13px;
            }
        }

        // 段落
        &__paragraph {
            margin-bottom: 10px;
        }
    }

    // テーブルエリア
    .table-area {
        // スクロール領域
        &__scroll-frame {
            padding-bottom: 20px;
            width: 100%;
        }
        @media screen and(max-width: $sp_width) {
            min-width: 200%;
            font-size: 13px;
        }
    }
}
