/* -----------------------------------------------
    ページ別：店舗紹介
----------------------------------------------- */
.tenpo {
    // テーブルエリア
    .table-area {
        // スクロール領域
        &__scroll-frame {
            padding: 20px;
            margin: 0 auto;
            width: 100%;
            min-width: 1000px;
        }
    }
}
