/* -----------------------------------------------
    ページ別：店舗紹介
----------------------------------------------- */
.tenpo {
    /*********** テーブルエリア設定 ***********/
    .table-area {
        // スクロール領域
        &__scroll-frame {
            margin: 0 auto;
            width: 100%;
            min-width: 1000px;
        }

        // テーブルセル設定
        td, th {
            width: 25%;
        }
    }

    /*********** 文章エリア設定 ***********/
    .letters-area {
        // 見出し
        &__title {
            padding: 1px 5px;
            margin-bottom: 20px;
            @media screen and(max-width: $sp_width) {
                font-size: 13px;
            }
        }
    }

}
