<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="テキーラ飲み比べ紹介サイト">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:url" content="">
<meta property="og:title" content="テキーラ全書">
<meta property="og:description" content="テキーラ飲み比べ紹介サイト">
<meta property="og:image" content="apple-touch-icon.png">
<title>商品紹介 3ページ</title>
<link rel="stylesheet" type="text/css" href="tequila.css">
</head>

<body>

<center>
<header id="top" class="title">
<a href="tequila.html#top"><img src="picture/tequila-new3.png" alt="テキーラ全書">
</a></header>
<h1 id="menu" class="menu">MENU<br>
<p class="menu"><a href="tequila.html#tequilatoha">テキーラとは</a></p>
<p class="menu"><a href="maker_intro.html" target="blank">ブランド紹介</a></p>
<p class="menu"><a href="syouhin.html" target="blank">商品紹介</a></p>
<p class="menu"><a href="tenpo.html" target="blank">テキーラ取扱店紹介</a></p>
<p class="menu"><a href="bunken.html" target="blank">参考文献</a></p>
</h1>
</center>

<h2>商品紹介</h2>
<div class="box">
<aside>
<p class="maker">

<p class="list"><a href="syouhin.html#sauza">◇SAUZA</a></p>
<p class="list"><a href="syouhin.html#josecuervo">◇Jose Cuervo</a></p>
<p class="list"><a href="syouhin.html#olmeca">◇OLMECA</a></p>
<p class="list"><a href="syouhin.html#mariachi">◇MARIACHI</a></p>
<p class="list"><a href="syouhin.html#alacran">◇ALACRAN</a></p>

<p class="list"><a href="syouhin.html#ahatoro">◇AHA TORO</a></p>
<p class="list"><a href="syouhin.html#eltesoro">◇El Tesoro</a></p>
<p class="list"><a href="syouhin.html#agavales">◇Agavales</a></p>
<p class="list"><a href="syouhin.html#ole">◇Ole</a></p>
<p class="list"><a href="syouhin.html#orendain">◇Orendain</a></p>

<p class="list"><a href="syouhin_2.html#camino">◇Camino</a></p>
<p class="list"><a href="syouhin_2.html#elcharro">◇EL CHARRO</a></p>
<p class="list"><a href="syouhin_2.html#herradura">◇HERRADURA</a></p>
<p class="list"><a href="syouhin_2.html#corralejo">◇CORRALEJO</a></p>
<p class="list"><a href="syouhin_2.html#cazadores">◇CAZADORES</a></p>

<p class="list"><a href="syouhin_2.html#porfidio">◇PORFIDIO</a></p>
<p class="list"><a href="syouhin_2.html#casadeluna">◇CASA DE LUNA</a></p>
<p class="list"><a href="syouhin_2.html#tresreyes">◇TRES REYES</a></p>
<p class="list"><a href="syouhin_2.html#eljimador">◇el Jimador</a></p>
<p class="list"><a href="syouhin_2.html#donjurio">◇DonJurio</a></p>

<p class="list"><a href="syouhin_3.html#casanoble">◇Casa Noble</a></p>
<p class="list"><a href="syouhin_3.html#kah">◇KAH</a></p>
<p class="list"><a href="syouhin_3.html#patron">◇PATRON</a></p>
<p class="list"><a href="syouhin_3.html#latilica">◇La Tilica</a></p>
<p class="list"><a href="syouhin_3.html#muchaliga">◇MUCHA LIGA</a></p>

<p class="list"><a href="syouhin_3.html#rancholajoya">◇RANCHO LA JOYA</a></p>
<p class="list"><a href="syouhin_3.html#cascoviejo">◇Casco Viejo</a></p>
<p class="list"><a href="syouhin_3.html#eldestilador">◇EL DESTILADOR</a></p>
<p class="list"><a href="syouhin_3.html#tresalegrescompadres">◇Tres Alegres Compadres</a></p>
<p class="list"><a href="syouhin_3.html#hijosdevilla">◇Hijos de Villa</a></p>

<p class="list"><a href="syouhin_4.html#grancentenario">◇GRAN CENTENARIO</a></p>
<p class="list"><a href="syouhin_4.html#chilecariente">◇Chile Cariente</a></p>
<p class="list"><a href="syouhin_4.html#tresmagueyes">◇Tres Magueyes</a></p>
<p class="list"><a href="syouhin_4.html#casinoazul">◇Casino AZUL</a></p>
<p class="list"><a href="syouhin_4.html#elpadrino">◇EL PADRINO</a></p>

<p class="list"><a href="syouhin_4.html#lacofradia">◇LA COFRADIA</a></p>
<p class="list"><a href="syouhin_4.html#donacelia">◇DONA CELIA</a></p>
<p class="list"><a href="syouhin_4.html#donfernando">◇Don Fernando</a></p>

</p>
</aside>
<main>
<center>
<p>
<a href="syouhin.html">1</a>l<a href="syouhin_2.html">2</a>l3l<a href="syouhin_4.html">4</a>
</p>
</center>

<h3 id="casanoble">◇Casa Noble(カサノブレ)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=72" alt="カサノブレ 商品紹介" target="blank"><img src="picture/casanoble_blanco.jpg" alt="カサノブレ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Crystal Blanco</strong><br>■Alc.40% / 100%AGAVE<br>■ラ・コフラディア蒸留所<br>■NOM 1137<br>■バジェス地方 テキーラ地区<br>・滑らかな口当たりと爽やかなアガベの甘味香<br>
</p>
</div>
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=73" alt="カサノブレ 商品紹介" target="blank"><img src="picture/casanoble_reposado.jpg" alt="カサノブレ レポサド" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Reposado</strong><br>■Alc.40% / 100%AGAVE<br>■ラ・コフラディア蒸留所<br>■NOM 1137<br>■バジェス地方 テキーラ地区<br>・カカオ香る甘みとシトラスな後味<br>・後から香るアガベ感<br>・フレンチオーク樽364日熟成<br>
</p>
</div>
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=74" alt="カサノブレ 商品紹介" target="blank"><img src="picture/casanoble_anejo.jpg" alt="カサノブレ アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.40% / 100%AGAVE<br>■ラ・コフラディア蒸留所<br>■NOM 1137<br>■バジェス地方 テキーラ地区<br>・チョコのような甘味と芳醇で濃厚なカカオ香<br>・フレンチオークの新樽で24ヶ月熟成
</p>
</div>
</div>
<a href="maker_intro.html#casanoble" alt="カサノブレ ブランド">ブランド説明</a>



<h3 id="kah">◇KAH(カー)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=171" alt="カー 商品紹介" target="blank"><img src="picture/kah_anejo.jpg" alt="カー アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.40% / 100%AGAVE<br>■テキーラス・フィノス蒸留所<br>■NOM 1472<br>■バジェス地方 テキーラ地区<br>・繊細でやさしい香り<br>・シトラスでほのかな甘み<br>・アメリカンオーク樽で2年の熟成
</p>
</div>
</div>
<a href="maker_intro.html#kah" alt="カー ブランド">ブランド説明</a>



<h3 id="patron">◇PATRON(パトロン)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=58" alt="パトロン 商品紹介" target="blank"><img src="picture/patron_silver.jpg" alt="パトロン シルバー" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Silver</strong><br>■Alc.40% / 100%AGAVE<br>■パトロン蒸留所<br>■NOM 1492<br>■ロスアルトス地方 アトトニルコ地区<br>・果実の複雑なシトラスとアガベ感じる香<br>・ほのかなスパイス感とスムースな口当たり<br>・蜂蜜のような甘み後味<br>
</p>
</div>
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=59" alt="パトロン 商品紹介" target="blank"><img src="picture/patron_reposado.jpg" alt="パトロン レポサド" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Reposado</strong><br>■Alc.40% / 100%AGAVE<br>■パトロン蒸留所<br>■NOM 1492<br>■ロスアルトス地方 アトトニルコ地区<br>・シトラスで爽やかな香<br>・スパイス混ざる複雑なキレのある味<br>・蜂蜜のような甘い樽の残り香<br>・アメリカンオーク樽で6ヶ月熟成ブレンド
</p>
</div>
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=60" alt="パトロン 商品紹介" target="blank"><img src="picture/patron_anejo.jpg" alt="パトロン アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.40% / 100%AGAVE<br>■パトロン蒸留所<br>■NOM 1492<br>■ロスアルトス地方 アトトニルコ地区<br>・シトラスでまろやかな香<br>・複雑なスパイスと丸みを帯びた味<br>・バニラのような深みのある甘みと樽香<br>・アメリカン/フレンチオーク樽で12ヶ月熟成ブレンド
</p>
</div>
</div>
<a href="maker_intro.html#patron" alt="パトロン ブランド">ブランド説明</a>



<h3 id="latilica">◇La Tilica(ラティリカ)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=9500" alt="ラティリカ 商品紹介" target="blank"><img src="picture/latilica_blanco.jpg" alt="ラティリカ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">	Blanco</strong><br>■Alc.40% / 100%AGAVE<br>■ファナカトラン蒸留所<br>■NOM 1551<br>■ソナ・セントロ地方 ファナカトラン地区<br>・芯のあるコクと苦みと硬質な舌触り<br>
</p>
</div>
</div>
<a href="maker_intro.html#latilica" alt="ラティリカ ブランド">ブランド説明</a>



<h3 id="muchaliga">◇MUCHA LIGA(ムチャリガ)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=200" alt="ムチャリガ 商品紹介" target="blank"><img src="picture/muchaliga_blanco.jpg" alt="ムチャリガ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">	Blanco(ブラーヴォ)</strong><br>■Alc.40% / 100%AGAVE<br>■ファナカトラン蒸留所<br>■NOM 1551<br>■ソナ・セントロ地方 ファナカトラン地区<br>・しっかりとしたアガベの香り<br>・マイルドでスムースな口当たり<br>・シンプルにほのかな甘み<br>
</p>
</div>
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=201" alt="ムチャリガ 商品紹介" target="blank"><img src="picture/muchaliga_reposado.jpg" alt="ムチャリガ レポサド" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">	Reposado(カニバル)</strong><br>■Alc.40% / 100%AGAVE<br>■ファナカトラン蒸留所<br>■NOM 1551<br>■ソナ・セントロ地方 ファナカトラン地区<br>・すっきりな酸味と甘いカカオ樽香<br>・ほのかにスパイシーな後味<br>・バーボン樽で3ヶ月熟成<br>
</p>
</div>
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=202
" alt="ムチャリガ 商品紹介" target="blank"><img src="picture/muchaliga_anejo.jpg" alt="ムチャリガ アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">	Anejo(インヴィクト)</strong><br>■Alc.40% / 100%AGAVE<br>■ファナカトラン蒸留所<br>■NOM 1551<br>■ソナ・セントロ地方 ファナカトラン地区<br>・ドライでスパイス感の強い口当たり<br>・ほのかな酸味とカカオ樽香<br>・バーボン樽16ヶ月熟成<br>
</p>
</div>
</div>
<a href="maker_intro.html#muchaliga" alt="ムチャリガ ブランド">ブランド説明</a>



<h3 id="rancholajoya">◇RACHO LA JOYA(ランチョ・ラ・ホヤ)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=7233" alt="ランチョ・ラ・ホヤ 商品紹介" target="blank"><img src="picture/rancholajoya_blanco.jpg" alt="ランチョ・ラ・ホヤ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.38% / 100%AGAVE<br>■ロス・アルトス・ラ・ホヤ蒸留所<br>■NOM 1555<br>■ロスアルトス地方 アヨトラン地区<br>・キレのある硬質な舌触りと甘く深い香り<br>
</p>
</div>
</div>
<a href="maker_intro.html#rancholajoya" alt="ランチョ・ラ・ホヤ ブランド">ブランド説明</a>



<h3 id="cascoviejo">◇Casco Viejo(カスコ・ヴィエホ)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=203" alt="カスコ・ヴィエホ 商品紹介" target="blank"><img src="picture/cascoviejo_blanco.jpg" alt="カスコ・ヴィエホ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.38% / 100%AGAVE<br>■カーサ・カマレナ蒸留所<br>■NOM 1456<br>■ロスアルトス地方 アランダス地区<br>・キレのある硬質な舌触りと甘く伸びる後味<br>
</p>
</div>
</div>
<a href="maker_intro.html#cascoviejo" alt="カスコ・ヴィエホ ブランド">ブランド説明</a>



<h3 id="eldestilador">◇EL DESTILADOR(エルデスティラドール)</h3>
<div class="box">
<div>
<p>
<a href="https://www.tequilamatchmaker.com/tequilas/2428-el-destilador-blanco" alt="エルデスティラドール 商品紹介" target="blank"><img src="picture/eldestilador_blanco.jpg" alt="エルデスティラドール ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.40% / 100%AGAVE<br>■ニュートン・エ・イホス蒸留所<br>■NOM 1173<br>■ソナ・セントロ地方 サポパン地区<br>・辛い口当たりと爽やかに鼻に抜ける香り<br>
</p>
</div>
</div>
<a href="maker_intro.html#eldestilador" alt="エルデスティドール ブランド">ブランド説明</a>



<h3 id="tresalegrescompadres">◇Tres Alegres Compadres(トレスアレグレスコンパドレス)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=6448" alt="トレスアレグレスコンパドレス 商品紹介" target="blank"><img src="picture/tresalegrescompadres_blanco.jpg" alt="トレスアレグレスコンパドレス ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.38%<br>■ラ・コフラディア蒸留所<br>■NOM 1137<br>■バジェス地方 テキーラ地区<br>・熟成されたような香りと癖の少ない飲みやすさ<br>
</p>
</div>
</div>
<a href="maker_intro.html#tresalegrescompadres" alt="トレスアレグレスコンパドレス ブランド">ブランド説明</a>



<h3 id="hijosdevilla">◇Hijos de Villa(イホス・デ・ビジャ)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=7475" alt="イホス・デ・ビジャ 商品紹介" target="blank"><img src="picture/hijosdevilla_blanco.jpg" alt="イホス・デ・ビジャ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.40%<br>■リコーレス・ヴェラクルス蒸留所<br>■NOM 1433<br>■ロスアルトス地方 アトトニルコ地区<br>・強いアガベの香りと甘く角のない舌触り<br>
</p>
</div>
</div>
<a href="maker_intro.html#hijosdevilla" alt="イホス・デ・ビジャ ブランド">ブランド説明</a>

</center>
</main>
</div>
<center>
<p>
<a href="syouhin.html">1</a>l<a href="syouhin_2.html">2</a>l3l<a href="syouhin_4.html">4</a>
</p>
<br>
<br>
<nav>
<a href="#top">トップに戻る</a>
</nav>
</center>
</body>
</html>