<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="テキーラ飲み比べ紹介サイト">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:url" content="">
<meta property="og:title" content="テキーラ全書">
<meta property="og:description" content="テキーラ飲み比べ紹介サイト">
<meta property="og:image" content="apple-touch-icon.png">
<title>商品紹介 4ページ</title>
<link rel="stylesheet" type="text/css" href="tequila.css">
</head>

<body>

<center>
<header id="top" class="title">
<a href="tequila.html#top"><img src="picture/tequila-new3.png" alt="テキーラ全書">
</a></header>
<h1 id="menu" class="menu">MENU<br>
<p class="menu"><a href="tequila.html#tequilatoha">テキーラとは</a></p>
<p class="menu"><a href="maker_intro.html" target="blank">ブランド紹介</a></p>
<p class="menu"><a href="syouhin.html" target="blank">商品紹介</a></p>
<p class="menu"><a href="tenpo.html" target="blank">テキーラ取扱店紹介</a></p>
<p class="menu"><a href="bunken.html" target="blank">参考文献</a></p>
</h1>
</center>

<h2>商品紹介</h2>
<div class="box">
<aside>
<p class="maker">

<p class="list"><a href="syouhin.html#sauza">◇SAUZA</a></p>
<p class="list"><a href="syouhin.html#josecuervo">◇Jose Cuervo</a></p>
<p class="list"><a href="syouhin.html#olmeca">◇OLMECA</a></p>
<p class="list"><a href="syouhin.html#mariachi">◇MARIACHI</a></p>
<p class="list"><a href="syouhin.html#alacran">◇ALACRAN</a></p>

<p class="list"><a href="syouhin.html#ahatoro">◇AHA TORO</a></p>
<p class="list"><a href="syouhin.html#eltesoro">◇El Tesoro</a></p>
<p class="list"><a href="syouhin.html#agavales">◇Agavales</a></p>
<p class="list"><a href="syouhin.html#ole">◇Ole</a></p>
<p class="list"><a href="syouhin.html#orendain">◇Orendain</a></p>

<p class="list"><a href="syouhin_2.html#camino">◇Camino</a></p>
<p class="list"><a href="syouhin_2.html#elcharro">◇EL CHARRO</a></p>
<p class="list"><a href="syouhin_2.html#herradura">◇HERRADURA</a></p>
<p class="list"><a href="syouhin_2.html#corralejo">◇CORRALEJO</a></p>
<p class="list"><a href="syouhin_2.html#cazadores">◇CAZADORES</a></p>

<p class="list"><a href="syouhin_2.html#porfidio">◇PORFIDIO</a></p>
<p class="list"><a href="syouhin_2.html#casadeluna">◇CASA DE LUNA</a></p>
<p class="list"><a href="syouhin_2.html#tresreyes">◇TRES REYES</a></p>
<p class="list"><a href="syouhin_2.html#eljimador">◇el Jimador</a></p>
<p class="list"><a href="syouhin_2.html#donjurio">◇DonJurio</a></p>

<p class="list"><a href="syouhin_3.html#casanoble">◇Casa Noble</a></p>
<p class="list"><a href="syouhin_3.html#kah">◇KAH</a></p>
<p class="list"><a href="syouhin_3.html#patron">◇PATRON</a></p>
<p class="list"><a href="syouhin_3.html#latilica">◇La Tilica</a></p>
<p class="list"><a href="syouhin_3.html#muchaliga">◇MUCHA LIGA</a></p>

<p class="list"><a href="syouhin_3.html#rancholajoya">◇RANCHO LA JOYA</a></p>
<p class="list"><a href="syouhin_3.html#cascoviejo">◇Casco Viejo</a></p>
<p class="list"><a href="syouhin_3.html#eldestilador">◇EL DESTILADOR</a></p>
<p class="list"><a href="syouhin_3.html#tresalegrescompadres">◇Tres Alegres Compadres</a></p>
<p class="list"><a href="syouhin_3.html#hijosdevilla">◇Hijos de Villa</a></p>

<p class="list"><a href="syouhin_4.html#grancentenario">◇GRAN CENTENARIO</a></p>
<p class="list"><a href="syouhin_4.html#chilecariente">◇Chile Cariente</a></p>
<p class="list"><a href="syouhin_4.html#tresmagueyes">◇Tres Magueyes</a></p>
<p class="list"><a href="syouhin_4.html#casinoazul">◇Casino AZUL</a></p>
<p class="list"><a href="syouhin_4.html#elpadrino">◇EL PADRINO</a></p>

<p class="list"><a href="syouhin_4.html#lacofradia">◇LA COFRADIA</a></p>
<p class="list"><a href="syouhin_4.html#donacelia">◇DONA CELIA</a></p>
<p class="list"><a href="syouhin_4.html#donfernando">◇Don Fernando</a></p>

</p>
</aside>
<main>
<center>
<p>
<a href="syouhin.html">1</a>l<a href="syouhin_2.html">2</a>l<a href="syouhin_3.html">3</a>l4
</p>
</center>

<h3 id="grancentenario">◇GRAN CENTENARIO(グラン センテナリオ)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=3150" alt="グラン センテナリオ 商品紹介" target="blank"><img src="picture/grancentenario_anejo.jpg" alt="グラン センテナリオ アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.40% / 100%AGAVE<br>■エクセハシエンダ・ロス・カミチネス蒸留所<br>■NOM 1122<br>■ロスアルトス地方 ラ・ラハ地区<br>・華やかにバニラ薫るまろやかな甘味<br>
</p>
</div>
</div>
<a href="maker_intro.html#grancentenario" alt="グラン センテナリオ ブランド">ブランド説明</a>



<h3 id="chilecariente">◇Chile Caliente(チリカリエンテ)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/list.php?category_id=232" alt="チリカリエンテ 商品紹介" target="blank"><img src="picture/chilecariente_blanco.jpg" alt="チリカリエンテ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.40% / 100%AGAVE<br>■グルポ・テキレロ・デ・ロスアルトス蒸留所<br>■NOM 1548<br>■ロスアルトス地方 アランダス地区<br>・甘味の抑えたスパイシーな口当たりアガベの芳香<br>
</p>
</div>
</div>
<a href="maker_intro.html#chilecariente" alt="チリカリエンテ ブランド">ブランド説明</a>



<h3 id="tresmagueyes">◇Tres Magueyes(トレス マゲイヤス)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=3815" alt="トレス マゲイヤス 商品紹介" target="blank"><img src="picture/tresmagueyes_blanco.jpg" alt="トレス マゲイヤス ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.38%<br>■ドン・フリオ蒸留所<br>■NOM 1449<br>■ロスアルトス地方 アトトニルコ地区<br>・アガベの爽やかな香りとスッキリとした苦み<br>
</p>
</div>
</div>
<a href="maker_intro.html#tresmagueyes" alt="トレス マゲイヤス ブランド">ブランド説明</a>



<h3 id="casinoazul">◇Casino AZUL(カジノ アズール)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=10109" alt="カジノ アズール 商品紹介" target="blank"><img src="picture/casinoazul_silver.jpg" alt="カジノ アズール シルバー" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Silver</strong><br>■Alc.40% / 100%AGAVE<br>■トレス・ムヘレス蒸留所<br>■NOM 1466<br>■バジェス地方 アマティタン地区<br>・芳醇なアガベの香りと軽微なスパイスと甘味<br>
</p>
</div>
</div>
<a href="maker_intro.html#casinoazul" alt="カジノ アズール ブランド">ブランド説明</a>



<h3 id="elpadrino">◇EL PADRINO DE MI TIERRA(エル・パドリーノ・ディ・ミティエラ)</h3>
<div class="box">
<div>
<p>
<a href="https://www.musashiya-net.co.jp/products/detail.php?product_id=7565" alt="エルパドリーノ 商品紹介" target="blank"><img src="picture/elpadrino_blanco.jpg" alt="エルパドリーノ ブランコ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Blanco</strong><br>■Alc.40% / 100%AGAVE<br>■デル・バジェ・デ・テキーラ蒸留所<br>■NOM 1438<br>■バジェス地方 アマティタン地区<br>・アガベの香りが楽しめて飲みやすい<br>
</p>
</div>
</div>
<a href="maker_intro.html#elpadrino" alt="エルパドリーノ ブランド">ブランド説明</a>



<h3 id="lacofradia">◇LA COFRADIA(ラ・コフラディア)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=943" alt="ラ・コフラディア 商品紹介" target="blank"><img src="picture/lacofradia_anejo.jpg" alt="ラ・コフラディア アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.40% / 100%AGAVE<br>■ラ・コフラディア蒸留所<br>■NOM 1137<br>■バジェス地方 テキーラ地区<br>・樽の発酵香る酸味<br>・カラメルのような甘み<br>・柔らかな香りとキレのある舌触り<br>・12ヶ月樽熟成
</p>
</div>
</div>
<a href="maker_intro.html#lacofradia" alt="ラ・コフラディア ブランド">ブランド説明</a>



<h3 id="donacelia">◇DONA CELIA(ドーニャ・セリア)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=262" alt="ドーニャ・セリア 商品紹介" target="blank"><img src="picture/donacelia_anejo.jpg" alt="ドーニャ・セリア アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.40% / 100%AGAVE<br>■デル・バジェ・デ・テキーラ蒸留所<br>■NOM 1438<br>■バジェス地方 テキーラ地区<br>・ビターカカオのような強い香り<br>・はっきりとした甘みの後味<br>・すっきりとした酸味の口当たり<br>・1～3年アメリカンオーク樽熟成
</p>
</div>
</div>
<a href="maker_intro.html#donacelia" alt="ドーニャ・セリア ブランド">ブランド説明</a>



<h3 id="donfernando">◇Don Fernado(ドン・フェルナンド)</h3>
<div class="box">
<div>
<p>
<a href="http://www.premium-tequila.jp/products/detail.php?product_id=176" alt="ドン・フェルナンド 商品紹介" target="blank"><img src="picture/donfernando_anejo.jpg" alt="ドン・フェルナンド アネホ" width="300" height="300"></a><br>
</p>
<p class="syohin">
<strong class="syohin">Anejo</strong><br>■Alc.38% / 100%AGAVE<br>■バランカ・デ・アマティタン蒸留所<br>■NOM 1473<br>■バジェス地方 アマティタン地区<br>・樽の発酵香とほんのり甘い香り<br>・酸味がするっと飲みやすい<br>・カカオのような甘い口当たり<br>・24ヶ月フレンチオーク樽熟成
</p>
</div>
</div>
<a href="maker_intro.html#donfernando" alt="ドン・フェルナンド ブランド">ブランド説明</a>

</center>
</main>
</div>
<center>
<p>
<a href="syouhin.html">1</a>l<a href="syouhin_2.html">2</a>l<a href="syouhin_3.html">3</a>l4
</p>
<br>
<br>
<nav>
<a href="#top">トップに戻る</a>
</nav>
</center>
</body>
</html>