/* -----------------------------------------------
    ヘッダーエリアコンテンツ設定
----------------------------------------------- */
// メインロゴ
&__main-logo {
    font-size: 20px;
    font-weight: bolder;
    display: inline;
    text-shadow: 3px 3px 1px $orange_skelton;
    position: relative;
    top: -2px;
    left: 0;
    @media screen and(max-width: $sp_width) {
        text-shadow: 1px 1px 1px $orange_skelton;
        position: fixed;
        top: -2px;
        left: 10px;
    }
}

// サブロゴ
&__sub-logo {
    font-size: 14px;
    display: inline;
    text-shadow: 3px 3px 1px $orange_skelton;
    position: relative;
    top: -3px;
    left: 0;
    @media screen and(max-width: $sp_width) {
        text-shadow: 1px 1px 1px $orange_skelton;
        position: fixed;
        top: 4px;
        right: 0;
    }
}

// グローバルメニュー
.global-menu {
    font-size: 16px;
    background: $orange_skelton;
    width: 100%;
    @media screen and(max-width: $sp_width) {
        background: $brown;
        position: absolute;
        top: $header_height_sp;
        left: 0;
    }

    // メニューボタン
    &__btn {
        display: inline-block;
        max-width: 150px;
        width: 100%;
        @media screen and(max-width: $sp_width) {
            max-width: 300px;
            border-bottom: 1px dotted $beige;
            &:last-child {
                border-bottom: none;
            }
        }
        a {
            color: $brown;
            display: block;
            margin: 0px;
            @media screen and(max-width: $sp_width) {
                color: $beige;
            }

            &:hover {
                background: $white_clear_thick;
            }
        }
    }

    // SPのメニューボタン（≡）
    &__btn-sp {
        font-size: 30px;
        line-height: 1;
        float: right;
        position: relative;
        top: 0;
        right: 5px;
    }
}

