/* -----------------------------------------------
    ヘッダーエリアコンテンツ設定
----------------------------------------------- */
/*********** メインロゴ設定 ***********/
&__main-logo {
    position: relative;
    top: -2px;
    left: 0;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 3px 3px 1px $orange_clear;
    @media screen and(max-width: $sp_width) {
        display: inline;
        text-shadow: 1px 1px 1px $orange_clear;
    }
}

/*********** グローバルメニュー設定 ***********/
.global-menu {
    width: 100%;
    background: $orange_clear;
    font-size: 16px;
    @media screen and(max-width: $sp_width) {
        position: absolute;
        top: $header_height_sp;
        left: 0;
        background: $bg_wood_dark;
    }

    /****** メニューボタン設定 ******/
    &__btn {
        display: inline-block;
        width: 100%;
        max-width: 150px;
        @media screen and(max-width: $sp_width) {
            max-width: 300px;
            border-bottom: 1px dotted $beige;
            &:last-child {
                border-bottom: none;
            }
        }
        a {
            color: $brown;
            display: block;
            margin: 0px;
            @media screen and(max-width: $sp_width) {
                color: $beige;
            }

            &:hover {
                background: $white_clear;
            }
        }
    }

    /****** SPのメニューボタン（≡）設定 ******/
    &__btn-sp {
        font-size: 30px;
        line-height: 1;
        float: right;
        position: relative;
        top: 0;
        right: 5px;
    }
}

